body
{
    margin: 0px;
    background-color: #fbe4e4;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#navBar
{
    background-color: #a7bdf8;
    color: white;
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 60px;
    align-items: center;
}

.bigBoyText
{
    font-size: 50px;
    margin-right: 65%;
    margin-left: 10%;
    line-height: 50px;
}

.linkStyleNavBar
{
    text-decoration: none;
    color: inherit;
    margin: 0px 30px;
    font-size: 27.5px;
    
}

.primaryButton
{
    background-color: #ff8c69;
    outline: 0cm;
    border-width: 0cm;
}
.secondaryButton
{
    background-color: #adffc0;
    outline: 0cm;
    border-width: 0cm;
}

.accent
{
    background-color: #cbe967;
}

#test
{
    visibility: hidden;
}